:root {
  --accent: rgb(0, 109, 109);
  --backgrond: #EBFAFE;
  --primary: #10C3F9;
  --pending: #f8c630ff;
  --synced: #70ee9cff;
  --error: #db3a34ff;

  --syncedBackground: #C8F9D8;
  --errorBackground: #F6CCCB;
  --pendingBackground: #FDEFC4;

  --iconSize: 1.5em;

  --raisin-black: #2e282aff;
  --poppy: #db3a34ff;
  --non-photo-blue: #8ae1fcff;
  --light-green: #70ee9cff;
  --saffron: #f8c630ff;
    
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes completeEdit {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
  
}

* {
  box-sizing: border-box;
  font-family: 'Rethink Sans', sans-serif;
}
body {
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  
  span {
    font-size: 2.5em;

    &.synced::before {
      display: inline-block;
      font-family: 'Material Symbols Outlined';
      content: "check_circle";
      color: var(--synced);
      animation: completeEdit 0.5s cubic-bezier(.77,.16,.14,1.28) 1;
    }
    
    &.pending::before {
      display: inline-block;
      font-family: 'Material Symbols Outlined';
      content: 'autorenew';
      transition: all 0.3s ease-in-out;
      animation: spin 1s cubic-bezier(.77,.16,.14,1.28) infinite;
      color: var(--pending);
    }
  }

  .heading {
    display: flex;
    flex-direction: column;
    gap: 5px;

    h1 {
      margin: 0;
      font-weight: 800;
      font-size: 2.5em;
    }

    h2 {
      margin: 0;
      font-size: 1.5em;
      font-weight: 400;
      color: var(--accent);
    }
  }
}

li.pending {
  background-color: var(--pendingBackground);
}

.error {
  background-color: var(--errorBackground);
}

.deleting {
  opacity: 0.5;
}

.deleted {
  transform: translateY(100%);
  opacity: 0;
}

.input-action {
  width: 100%;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
  transition: all 0.3s ease-in-out;
}

ul {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1em 0;
  width: 100%;
  max-height: 600px;
  overflow: scroll;
  scrollbar-color: transparent;
  scrollbar-width: thin;
  border-radius: 10px;
}

li {

  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: rgba(0, 196, 167, 0.15);
  border-radius: 10px;
  width: 100%;
  padding-right: 1em;

  &:hover {
    background-color: rgba(0, 196, 167, 0.25);
  }

  * {
    font-size: 1rem;
    background-color: transparent;
    position: relative;
    overflow: hidden;
  }



  & input {
    flex-grow: 1;
    border: none;
    outline: none;
    transition: all 0.3s ease-in-out;
    padding: .5em;
    border-radius: 10px;
    padding: 1.5em 1em; 
    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.516);
    }
    &:focus {
      background-color: white;
      cursor: text;
    }
    &.done {
      animation: completeEdit 0.5s cubic-bezier(.77,.16,.14,1.28) 1;
    }
  }

  & p {
    border: none;
    outline: none;
    color: var(--raisin-black);
    opacity: 0.4;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
  }

  & .actions {
    display: flex;
    flex-direction: row;

    button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      width: 1.5em;
      aspect-ratio: 1;
      border-radius: 10px;
      font-size: 1.2em;
      transition: all 0.3s ease-in-out;
      border: none;
    
      & span {
        font-family: 'Material Symbols Outlined';
        z-index: 2;
        background-color: transparent;
      }
      
      &.deleteBtn::before {
        content: "";
        position: absolute;
        inset: 0;
        height: 100%;
        background-color: var(--error);
        transition: .3s cubic-bezier(.51,.28,.4,.99);
        transform: scale(0);
        border-radius: 10px;
      }
    
      &.deleteBtn:hover {
        color: var(--errorBackground);
        &::before {
          transform: scale(1);
        }
      }
      &.editBtn::before {
        content: "";
        position: absolute;
        inset: 0;
        height: 100%;
        background-color: var(--primary);
        transition: .3s cubic-bezier(.51,.28,.4,.99);
        transform: scale(0);
        border-radius: 10px;
      }
    
      &.editBtn:hover {
        color: var(--backgrond);
        &::before {
          transform: scale(1);
        }
      }
    }
  }
}

h1 {
  font-weight: 800;
  color: rgb(0, 109, 109);
}
main {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: var(--backgrond);
  transition: all 0.8s cubic-bezier(1,.25,.03,1.4);
  overflow: scroll;
  padding: 2em 0;

  & .contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    max-width: 800px;
    outline: 1px solid transparent;
  }

  &.refreshing {
    background-color: var(--syncedBackground);
    transform: scale(0.7);
    border-radius: 20px;
    transition: all 3s cubic-bezier(1,.25,.03,1.4);
    filter: blur(10px);
  }
}

.input-action {
  padding: 1em;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  border: none;
  font-size: 1rem;
  background-color: transparent;
  position: relative;
  overflow: hidden;

  &:focus, &:hover {
    outline: 2px solid var(--primary);
  }
}